Repository Sitecore/XM-Cloud-Introduction, pull requests merged in 2024-03, with the labels that each got.

#401 SUGCON 2024 EU - Created Sessions Rendering and related Content Items
  src/Project/Sugcon2024/Sugcon/src/components/Events/Sessions.tsx
  src/Project/Sugcon2024/items/Renderings/Sugcon2024/Events/Sessions.yml
  src/Project/Sugcon2024/items/SiteEU/EU/Presentation/Available Renderings/Events.yml
  src/Project/Sugcon2024/items/Templates/Sugcon2024/Events/Rendering Parameters/Sessions.yml
  src/Project/Sugcon2024/items/Templates/Sugcon2024/Events/Rendering Parameters/Sessions/__Standard Values.yml
  src/Project/Sugcon2024/items/Templates/Sugcon2024/Events/Sessions.yml
  src/Project/Sugcon2024/items/Templates/Sugcon2024/Events/Sessions/Content.yml
  src/Project/Sugcon2024/items/Templates/Sugcon2024/Events/Sessions/Content/SessionizeUrl.yml
Labels: enhancement, SUGCON Sites

#409 Removed Engine Node from SUGCON package.json files
  src/Project/Sugcon/SugconAnzSxa/package.json
  src/Project/Sugcon/SugconEuSxa/package.json
  src/Project/Sugcon/SugconIndiaSxa/package.json
  src/Project/Sugcon/SugconNaSxa/package.json
  src/Project/Sugcon2024/Sugcon/package.json
Labels: bug, SUGCON Sites

#412 Updated to new XMC Docker Tools image
  .env.template
  docker-compose.override.yml
  up.ps1
Labels: enhancement

#421 Mobile Updates v1
  src/Project/Sugcon2024/Sugcon/.storybook/decorators/sitecoreContextDecorator.tsx
  src/Project/Sugcon2024/Sugcon/.storybook/preview.tsx
  src/Project/Sugcon2024/Sugcon/package-lock.json
  src/Project/Sugcon2024/Sugcon/package.json
  src/Project/Sugcon2024/Sugcon/src/Layout.tsx
  src/Project/Sugcon2024/Sugcon/src/Theme.ts
  src/Project/Sugcon2024/Sugcon/src/assets/basic/_container.scss
  src/Project/Sugcon2024/Sugcon/src/assets/basic/_footer.scss
  src/Project/Sugcon2024/Sugcon/src/assets/basic/_header.scss
  src/Project/Sugcon2024/Sugcon/src/assets/basic/_navigation.scss
  src/Project/Sugcon2024/Sugcon/src/assets/basic/main.scss
  src/Project/Sugcon2024/Sugcon/src/assets/sass/_app.scss
  src/Project/Sugcon2024/Sugcon/src/components/Basic Components/Logo.tsx
  src/Project/Sugcon2024/Sugcon/src/components/Navigation.tsx
  src/Project/Sugcon2024/Sugcon/src/components/Templates/Footer.tsx
  src/Project/Sugcon2024/Sugcon/src/components/Templates/Header.tsx
  src/Project/Sugcon2024/Sugcon/src/components/Templates/LayoutConstants.ts
  src/Project/Sugcon2024/Sugcon/src/components/Templates/LayoutFlex.tsx
  src/Project/Sugcon2024/Sugcon/src/stories/components/Basic Components/Logo.stories.tsx
  src/Project/Sugcon2024/Sugcon/src/stories/components/Basic Components/Navigation.stories.tsx
  src/Project/Sugcon2024/Sugcon/src/stories/templates/Header.stories.tsx
  src/Project/Sugcon2024/Sugcon/tsconfig.json
Labels: enhancement, SUGCON Sites
