Repository Sitecore/XM-Cloud-Introduction, pull requests merged in 2024-11, with the labels that each got.

#487 Updated MVP Site to connect using ContextID
  README.md
  authoring/platform/Packages.props
  headapps/MvpSite/Directory.Packages.props
  headapps/MvpSite/MvpSite.Rendering/AppSettings/MvpSiteSettings.cs
  headapps/MvpSite/MvpSite.Rendering/Startup.cs
  headapps/MvpSite/MvpSite.Rendering/appsettings.json
Labels: enhancement, MVP Site

#494 Fix local container setup
  headapps/MvpSite/MvpSite.Rendering/AppSettings/MvpSiteSettings.cs
  headapps/MvpSite/MvpSite.Rendering/Startup.cs
  headapps/MvpSite/MvpSite.Rendering/Views/Shared/ColumnContainer.cshtml
  headapps/MvpSite/MvpSite.Rendering/wwwroot/sass/_colors.scss
  headapps/MvpSite/MvpSite.Rendering/wwwroot/sass/components/cta.scss
  headapps/MvpSite/MvpSite.Rendering/wwwroot/sass/components/feature-panel.scss
  headapps/MvpSite/MvpSite.Rendering/wwwroot/sass/components/people/directory.scss
  headapps/MvpSite/MvpSite.Rendering/wwwroot/sass/layout/nav.scss
  headapps/MvpSite/MvpSite.Rendering/wwwroot/style/main.css
  headapps/MvpSite/MvpSite.Rendering/wwwroot/style/main.min.css
  local-containers/docker-compose.override.yml
Labels: bug, MVP Site

#497 Vanishing Fields Fix + Character Limits on TextAreas + Sentiment
  headapps/MvpSite/Directory.Packages.props
  headapps/MvpSite/MvpSite.Rendering/Models/Apply/ApplicationFormModel.cs
  headapps/MvpSite/MvpSite.Rendering/ViewComponents/Apply/ApplicationFormViewComponent.cs
  headapps/MvpSite/MvpSite.Rendering/Views/Shared/Components/AdminScoreCardDetail/Default.cshtml
  headapps/MvpSite/MvpSite.Rendering/Views/Shared/Components/AdminScoreCards/Default.cshtml
  headapps/MvpSite/MvpSite.Rendering/Views/Shared/Components/ApplyApplicationForm/ContributionsStep.cshtml
  headapps/MvpSite/MvpSite.Rendering/Views/Shared/Components/ApplyApplicationForm/ObjectivesStep.cshtml
  headapps/MvpSite/MvpSite.Rendering/Views/Shared/Components/SitecoreComponent/MainNav.cshtml
  headapps/MvpSite/MvpSite.Rendering/Views/Shared/_Layout.cshtml
  headapps/MvpSite/MvpSite.Rendering/wwwroot/js/mvp-site.es5.js
  headapps/MvpSite/MvpSite.Rendering/wwwroot/js/mvp-site.es5.min.js
  headapps/MvpSite/MvpSite.Rendering/wwwroot/js/mvp-site.js
  headapps/MvpSite/MvpSite.Rendering/wwwroot/sass/components/selections/_form.scss
  headapps/MvpSite/MvpSite.Rendering/wwwroot/style/main.css
  headapps/MvpSite/MvpSite.Rendering/wwwroot/style/main.min.css
Labels: bug, enhancement, MVP Site

#498 Fixed additional partial application updates
  headapps/MvpSite/MvpSite.Rendering/ViewComponents/Apply/ApplicationFormViewComponent.cs
Labels: bug, MVP Site
