Repository Sitecore/XM-Cloud-Introduction, pull requests merged in 2024-02, with the labels that each got.

#342 Continued removal of Avenir references
  src/Project/MvpSite/rendering/Views/Shared/_Layout.cshtml
  src/Project/MvpSite/rendering/wwwroot/style/fonts/AvenirNext.css
  src/Project/MvpSite/rendering/wwwroot/style/maps/fonts/AvenirNext.css.map
  src/Project/MvpSite/rendering/wwwroot/style/maps/main.css.map
  src/Project/MvpSite/rendering/wwwroot/stylesheets/fonts/AvenirNext.css
  src/Project/MvpSite/rendering/wwwroot/stylesheets/fonts/AvenirNext.css.map
  src/Project/MvpSite/rendering/wwwroot/stylesheets/main.css
  src/Project/MvpSite/rendering/wwwroot/stylesheets/main.css.map
  src/Project/Sugcon/SugconAnzSxa/src/assets/AvenirNext.css
  src/Project/Sugcon/SugconAnzSxa/src/assets/AvenirNext.css.map
  src/Project/Sugcon/SugconAnzSxa/src/assets/AvenirNext.scss
  src/Project/Sugcon/SugconEuSxa/src/assets/AvenirNext.css
  src/Project/Sugcon/SugconEuSxa/src/assets/AvenirNext.css.map
  src/Project/Sugcon/SugconEuSxa/src/assets/AvenirNext.scss
  src/Project/Sugcon/SugconIndiaSxa/src/assets/AvenirNext.css
  src/Project/Sugcon/SugconIndiaSxa/src/assets/AvenirNext.css.map
  src/Project/Sugcon/SugconIndiaSxa/src/assets/AvenirNext.scss
Labels: enhancement, SUGCON Sites, MVP Site

#341 MVP Directory from API (quick version)
  Packages.props
  src/Feature/People/rendering/Models/AwardData.cs
  src/Feature/People/rendering/Models/Awards.cs
  src/Feature/People/rendering/Models/CountryData.cs
  src/Feature/People/rendering/Models/Facet.cs
  src/Feature/People/rendering/Models/MvpGraphQLModels.cs
  src/Feature/People/rendering/Models/MvpSearchResponse.cs
  src/Feature/People/rendering/Models/MvpSearchResult.cs
  src/Feature/People/rendering/Models/PeopleSearch.cs
  src/Feature/People/rendering/Models/PeopleSearchResults.cs
  src/Feature/People/rendering/Models/Person.cs
  src/Feature/People/rendering/Models/SearchParams.cs
  src/Feature/People/rendering/Mvp.Feature.People.Rendering.csproj
  src/Feature/People/rendering/PeopleFinder/MvpFinder.cs
  src/Feature/People/rendering/Views/Shared/Components/SitecoreComponent/_gqlPeopleResults.cshtml
  src/XmCloudIntroduction.sln
Labels: enhancement, MVP Site

#351 Fix searching with spaces
  src/Feature/People/rendering/PeopleFinder/MvpFinder.cs
Labels: bug, MVP Site

#350 Fix EE Header
  src/Project/MvpSite/rendering/Views/Shared/_Layout.cshtml
  src/Project/MvpSite/rendering/wwwroot/style/ee.css
Labels: bug, MVP Site

#357 Display Image at My Data
  src/Feature/Selections/rendering/Models/Any/MyDataEditModel.cs
  src/Feature/Selections/rendering/ViewComponents/Any/MyDataEditViewComponent.cs
  src/Feature/Selections/rendering/Views/Shared/Components/AnyMyDataEdit/Default.cshtml
Labels: enhancement, MVP Site

#356 #179 Workaround
  src/Project/MvpSite/rendering/Middleware/EnsureAcceptLanguageHeaderMiddleware.cs
Labels: bug, MVP Site

#372 Removed orphan SUGCON 2024 files
  src/Project/Sugcon2024/items/Modules/Sugcon2024/Structure.yml
  src/Project/Sugcon2024/items/Modules/Sugcon2024/Structure/Structure Headless Site Collection Setup.yml
  src/Project/Sugcon2024/items/Modules/Sugcon2024/Structure/Structure Headless Site Setup.yml
  src/Project/Sugcon2024/items/Modules/Sugcon2024/Structure/Structure Headless Site Setup/Add Available Renderings.yml
  src/Project/Sugcon2024/items/Modules/Sugcon2024/Structure/Structure Headless Site Setup/Rendering Variants.yml
  src/Project/Sugcon2024/items/Modules/Sugcon2024/Structure/Structure Headless Site Setup/Rendering Variants/Title.yml
Labels: bug, SUGCON Sites

#373 Bumped images version, so all docker images default to LTSC2022
  .env.template
Labels: enhancement
